
header {
    background: #000;
}
header .header-bottom {
    height: 11px;
    background: red;
}
#logo {
    float: left;
}
.header-content, article, .footer-content {
    margin:0 auto;
    width: 1200px;
}
.nav {
    color:#fff;
    float: right;
}
.nav li {
    float: left;
    margin-right: 10px;
}
header,footer{
    height: 100px;

}
header, article {
    margin-bottom: 20px;
}
.left-pannel{
    float:left;
    width:800px;
}
.right-pannel {
    float: right;
    width: 300px;
    color: red;
}

.carousel-inner .item {
    height: 500px;
    text-align: center;
}
.item img {
    width: 100%;

}

.video{
    position: relative;
    width: 800px;
    height: 300px;
    background: url("../img/background-three.jpg");
}
.video a{
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 40%;
}
h2 {
    font-weight: normal;
    margin-bottom: 30px;
}
h3, h4, h5 {
    font-weight: normal;
}

footer {
    background: #E8EDF1;
    color:#584029;
    padding: 20px 0px;
    }
.main-section {
margin: 50px auto;
width: 960px;
font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif;

}
.projects {
    clear: both;
    margin-bottom: 30px;
}
.projects .each-project {
    float: left;
    width: 400px;
    margin-right: 60px;
}
.projects .each-project:last-child {
    float: left;
    margin-right: 0px;
}
.contact-us {
font-size: 20px;
line-height: 25px;
display: inline-block;
margin: 10px 0px;
}

.clear{
    overflow:hidden;
}
footer ul {
    margin-left: 120px;
}