body, h1, h2{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.part1{
	background-color: #31BB99;
	text-align:center;
}
.part1 > h1{
	color:#fff;
	font-size:5.5em;
}
.part2{
	background-color: #eee;
}