<div class="container">
  <div class="span12">
     <h2>义梦中国后台管理系统</h2>
     <ul>
       <li><%= link_to "发布新活动", new_event_path %></li>
       <li><%= link_to "查看所有活动", events_path %></li>
     </ul>

  </div>
</div>