<section class="part1">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>义梦中国</h1>
        <p class="slogn"><span>义无反顾</span> <span>义不容辞逐梦</span></p>
      </div>
    </div>
  </div>
</section>

<section class="part2">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>我们是谁？</h2>
        <p class="who-we-are text-left">
          我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁
        </p>
      </div>
    </div>
  </div>
</section>

<section class="part3">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="slides">
          <img src="/assets/slide1.jpg">
          <img src="/assets/slide2.jpg">
          <img src="/assets/slide3.jpg">
          <img src="/assets/slide4.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="part4">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><span>情系汶川</span><span>情系山区</span></h2>
      <div class="span3 text-center">
        <img src="/assets/event-image.png">
      </div>
      <div class="span5">
        <h3>活动详情</h3>
        <div class="description">
          活动详情活动详情活动详情活动详情活动详情活动详情活动详情活动详情活动详情活动详情活动详情活动详情活动详情活动详情
        </div>
        <a class="jinshuju" href="https://jinshuju.net/f/qFw1mq" target="_blank">我要报名</a>
      </div>
      <div class="span4 text-center">
        <img src="/assets/event-address.png">
      </div>
    </div>
  </div>
</section>

<section class="part5">
  <h2>团队的成长</h2>
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul>
          <li>
            <img src="/assets/icon.png">
            <span>团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长</span>
          </li>
          <li>
            <img src="/assets/icon.png">
            <span>团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长</span>
          </li>
          <li>
            <img src="/assets/icon.png">
            <span>团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长</span>
          </li>
        </ul>
      </div>

    </div>

  </div>
</section>