<section class="part1">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>义梦中国</h1>
        <p class="slogn"><span>义无反顾</span> <span>义不容辞逐梦</span></p>
      </div>
    </div>
  </div>
</section>

<section class="part2">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>我们是谁？</h1>
        <p class="who-we-are text-left">
          我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁我们是谁
        </p>
      </div>
    </div>
  </div>
</section>

<section class="part3">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="slides">
          <img src="/assets/slide1.jpg">
          <img src="/assets/slide2.jpg">
          <img src="/assets/slide3.jpg">
          <img src="/assets/slide4.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
