<section class="part1">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>义梦中国</h1>
        <p class="slogn"><span>义无反顾</span> <span>义不容辞逐梦</span></p>
      </div>
    </div>
  </div>
</section>