<table>
  <thead>
  <th>
    <td>活动名称</td>
    <td>时间</td>
  </th>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.event_date %></td>
      </tr>
  <% end -%>
  </tbody>
</table>