<article class="story-wrapper">
	<div class="row">
		<%= story_1_header%>
	</div>
	<div class="row">
		<%= story_1_body%>
	</div>
</article>

<article class="story-wrapper">
	<div class="row">
		<%= story_2_header%>
	</div>
	<div class="row">
		<%= story_2_body%>
	</div>
</article>