<% content_for :body_class, "stories" %>

<section>
	<h2>团队成长</h2>
	 <ul class="article-list">
        <li>
          <a href="/stories/story1">
          <%= image_tag "icon.png" %>
          <span>
          义梦中国行 - 情牵映秀, 心系芦山
          </span>
          </a>
        </li>
        <li>
          <a href="/stories/story2">
          	<%= image_tag "icon.png" %>
            <span>
            探索之励志友爱读书会
            </span>
          </a>
        </li>
        <li>
          <a href="/stories/story3">
          <%= image_tag "icon.png" %>
          <span>
          偌大一个中国盖不起一个破厕所
          </span>
          </a>
        </li>
      </ul>
</section>