<% content_for :body_class, "stories" %>

<section>
	<h2>团队成长</h2>
	 <ul class="article-list">
        <li> <div class="story-list">
          <a href="/stories/story1" target="_blank">
          <span>
          财神传奇
          </span>
          </a>
          <p class="story-description">贵州贫困山区财神镇义工的故事</p>
        </div>
        </li>
         <li> <div class="story-list">
             <a href="/stories/story2" target="_blank">
          <span>
          映秀风云
          </span>
             </a>
             <p class="story-description">四川地震灾区映秀镇义工的故事</p>
         </div>
         </li>
         <li> <div class="story-list">
             <a href="/stories/story3" target="_blank">
          <span>
          义梦中国
          </span>
             </a>
             <p class="story-description">你和我的故事</p>
         </div>
         </li>
      </ul>
</section>
