<% content_for :body_class, "stories" %>

<section>
	<h2>团队成长</h2>
	 <ul class="article-list">
        <li>
          <a href="/stories/story1">
          <span>
          映秀风云
          </span>
          </a>
        </li>
        <li>
          <a href="/stories/story2">

            <span>
            大坪子校点　我们的希望
            </span>
          </a>
        </li>
        <li>
          <a href="/stories/story3">
          <span>
          义梦中国·情系雅安
          </span>
          </a>
        </li>
      </ul>
</section>