<% content_for :body_class, "stories" %>

<article class="story-wrapper" id="story1">
	<div class="row">
		<%= story_1_header%>
	</div>
	<div class="row">
		<%=story_1_hero%>
		<%= story_1_body%>
		<%= story_1_gallery%>
	</div>
</article>