<% content_for :body_class, "stories" %>

<article class="story-wrapper" id="story2">
	<div class="row">
		<%= story_2_header%>
	</div>
	<div class="row">
		<%=story_2_hero%>
		<%= story_2_body%>
		<%=story_2_gallery%>
	</div>
</article>
