<% content_for :body_class, "stories" %>

<article class="story-wrapper" id="story3">
	<div class="row">
		<%= story_3_header%>
	</div>
	<div class="row">
		<%=story_3_hero%>
		<%= story_3_body%>
		<%=story_3_gallery%>
	</div>
</article>