.wrapper {
	margin: 0px 200px;
}
.header {
	background-color: #2FBB99;
	height: 100px;
}

.header > h1 {
	margin-left: 206px;
	padding-top: 30px;
}

.content {
	background-color: #FFFFFF;
	padding: 19px;
	
}

.footer {
	background-color: #42C4A8;
	height: 100px;
}

body {
	background-color: #D6D7D6;
}

p {
	text-indent: 0.9cm;
}
.yx-img{
	float: left;
	height: 133px;
	margin-right: 10px;
}