body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
.main-container {
	margin: 0 auto;
	width: 960px;

}
header {
	background: #444444;
	padding: 12px 0px;
}
.header-nav {
	list-style: none;
}
.header-nav a {
	text-decoration: none;
	color: #fff;
	font-size: 19px;
}
.header-nav li {
	float: left;
	margin-right: 53px;
}
.clear {
	overflow: hidden;
}
footer {
	background: #40c4aa;
	padding: 40px;
}
footer li {
	float: left;
	margin-right: 143px;
}