$green:#31BB99;
$light-gray:#eee;

body{
  font-size: 16px;
  color: #333;
}

h1{font-size: 3.2em;}
h2{font-size: 2.2em;}

ul.article-list {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    li {
      padding: 20px;
      border-top: 1px solid #ccc;
      &:first-of-type{border-top: none;}
      img {
        margin-right: 10px;
      }
    }
}

table{
  border: 1px solid #333;
  padding: 10px;
  margin: 10px;
}

.button, a.button{
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 1.4em;
  display: inline-block;
  text-decoration: none;
  &.primary{
    background: #31BB99;
    color:#ffffff;
    
    &:hover {
      background: lighten(#31BB99, 10);
    }
  }
  &.secondary{
    background-color: #6dbfe7;
    font-size: 1em;
    color: #fff;
    &:hover {
      background: lighten(#6dbfe7, 10);
    }
  }
}


.row{
  &:nth-child(odd){
    background-color: $green;
    h1, .timestamp{color: #fff;}
  }
  &:nth-child(even){
    background-color: $light-gray;
  }
}

section{
    padding: 50px 20px;
    max-width: 940px;
    margin: 0 auto;   
}


header {
  background-color: #444;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 100;
}
nav {
    li {
      float: left;
      margin-left: 50px;
    }
   a{
      font-size: 19px;
      line-height: 44px;
      text-decoration: none;
      color: #fff !important;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
}

.main-content{
  margin-top: 44px;
}

footer {
  clear: both;
  height: 140px;
  background: #2FC7AF;
  ul {
    width: 800px;
    margin: 0 auto;
    li {
      float: left;
      padding: 10px 40px;
      div {
        position: relative;
        width: 110px;
        height: 110px;
        a {
          div{
            position: absolute;
            text-align: center;
            img,p{
              display: none;
            }
            &:hover{
              background: #2FC7AF;
              width: 150px;
              height: 150px;
              bottom: 30px;
              right: 10px;
              padding: 10px;
              display: block;
              img,p{
                display: block;
              }
              img {
                width: 150px;
                height: 120px;
              }
            }
          }
          img{
            padding-top: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  section{width: 100%;}
}
