header {
  background-color: #444;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  a {
    color: white;
    &:hover {
      color: #ffffff;
    }
  }
  nav {
    ul {
      li {
        float: left;
        margin-right: 50px;
        a {
          font-size: 19px;
          line-height: 44px;
          text-decoration: none;
        }
      }
    }
  }
}

.button {
  background: #31BB99;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 1.4em;
  color:#ffffff;
  &:hover {
    text-decoration: none;
    background: lighten(#31BB99, 10);
    color: #fff;
  }
}

footer {
  clear: both;
  height: 140px;
  background: #2FC7AF;
  ul {
    width: 800px;
    margin: 0 auto;
    li {
      float: left;
      padding: 10px 40px;
      a {
        width: 110px;
        height: 110px;
        display: block;
        font-size: 0;
        line-height: 0;
      }
    }
  }
  .weixin {
    background: image-url("weixin.png") no-repeat 10px;
    &:hover{
      .weixin-img {
        display: block;
      }
    }
    .weixin-img{
      display:none; 
      position: relative;
      bottom:-5px;
    }
  }
  .weibo {
    background: image-url("weibo.png") no-repeat 10px;
  }
  .qq {
    background: image-url("qq.png") no-repeat 10px;
    &:hover {
      .qqhao {
        display: block;   
      } 
      text-decoration:none;
    }
    .qqhao {
      display:none;
      font-size:26px;
      position:relative;
      top:53px; 
      right:48px;
    }
  }
  .mailbox {
    background: image-url("mail.png") no-repeat 10px;
  }
}
