body{
  font-size: 16px;
  color: #333;
}
h1{font-size: 3.2em;}
h2{font-size: 2.2em;}

.button {
  background: #31BB99;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 1.4em;
  color:#ffffff;
  &:hover {
    text-decoration: none;
    background: lighten(#31BB99, 10);
    color: #fff;
  }
}

$green:#31BB99;
$light-gray:#eee;

.row{
  &:nth-child(odd){
    background-color: $green;
  }
  &:nth-child(even){
    background-color: $light-gray;
  }
  h1 {
      font-size: 4.8em;
      color: #ffffff;
      margin-bottom: 20px;
      line-height: 80px;
    }
  h2 {
  font-size: 2.8em;
  line-height: 1.5em;
  font-weight: normal;
  }
  .row-header{
    background: #ffffff;
    padding: 10px;
    text-align: center;
  }
}

section{
    padding: 50px 20px;
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
    
}

header {
  background-color: #444;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 100;
  a {
    color: white;
    &:hover {
      color: #ffffff;
    }
  }
  nav {
    ul {
      li {
        float: left;
        margin-right: 50px;
        a {
          font-size: 19px;
          line-height: 44px;
          text-decoration: none;
        }
      }
    }
  }
}

.main-content{
  margin-top: 44px;
}

footer {
  clear: both;
  height: 140px;
  background: #2FC7AF;
  ul {
    width: 800px;
    margin: 0 auto;
    li {
      float: left;
      padding: 10px 40px;
      a {
        width: 110px;
        height: 110px;
        display: block;
        font-size: 0;
        line-height: 0;
      }
    }
  }
  .weixin {
    background: image-url("weixin.png") no-repeat 10px;
    &:hover{
      .weixin-img {
        display: block;
      }
    }
    .weixin-img{
      display:none; 
      position: relative;
      bottom:-5px;
    }
  }
  .weibo {
    background: image-url("weibo.png") no-repeat 10px;
  }
  .qq {
    background: image-url("qq.png") no-repeat 10px;
    &:hover {
      .qqhao {
        display: block;   
      } 
      text-decoration:none;
    }
    .qqhao {
      display:none;
      font-size:26px;
      position:relative;
      top:53px; 
      right:48px;
    }
  }
  .mailbox {
    background: image-url("mail.png") no-repeat 10px;
  }
}

@media screen and (max-width: 768px){
  section{width: 100%;}
}
