body{
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

h1{font-size: 2.2em; line-height: 1em; margin-bottom: .2em;}
h2{font-size: 2em; margin-bottom: .5em;}
p{margin-bottom: 1.5em;}
.subtitle-h3{
  font-size: 2em;
  line-height: 1em;
}
.time-location {
  display: block;
  margin: 0px 0px 0.5em 0px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.event-title-row {
  margin: 0 0 1em 0;
}
.align-left {
  text-align: left;
}
#event-register-button{
  padding: 4px 7px;
  border-radius: 5px;
  font-size: 1.0em;
  display: inline-block;
  text-decoration: none;
  margin-left: 1em;
}

ul.article-list {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    li {
      padding: 20px;
      border-top: 1px solid #ccc;
      &:first-of-type{border-top: none;}
      img {
        margin-right: 10px;
      }
    }
}

table{
  margin: 10px;

}
a{
  color: $blue;
  &:hover{
    text-decoration: underline;
  }
}
form{margin: 20px;}
.form-field{padding: 5px 0;}
label{font-weight: bold; font-size: 1.2em;}
input{margin: 5px; font-size: 1em;}
input[type=text], textarea, input[type=password], select{
  @include border-radius(4px);
  border: 1px solid $gray;
  padding: 5px 10px;
  width: 200px;
}
textarea{height: 200px;}
select{width: auto;}

.button, a.button{
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 1.4em;
  display: inline-block;
  text-decoration: none;
  &.primary{
    background: #31BB99;
    color:#ffffff;
    
    &:hover {
      background: lighten(#31BB99, 10);
    }
  }
  &.secondary{
    background-color: #6dbfe7;
    font-size: 1em;
    color: #fff;
    &:hover {
      background: lighten(#6dbfe7, 10);
    }
  }
}

.alert{

  margin: 10px 0;
  padding: 10px 20px;
  @include border-radius(4px);
  &.error{
    border: 1px solid $red;
    background-color: $pink;
    color: $red;
  }
  &.success{
    border: 1px solid $green;
    background-color: $light-green;
    color: $green;
  }
}
//Content related

.article-list li:before{
  content:"";
  width: 60px;
  height: 60px;
  @include border-radius(50%);
  display: inline-block;
  background-image:url("/img/thumb/pencil.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-color: $blue;
  vertical-align: middle;
  margin-right: 10px;
}

//Layout related

.row{
  &:nth-child(odd){
    background-color: $green;
    h1, .timestamp{color: #fff;}
  }
  &:nth-child(even){
    background-color: $light-gray;
  }
}

section{
    padding: 50px 20px;
    max-width: 940px;
    margin: 0 auto;   
}


header {
  background-color: #444;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 100;
  @include box-shadow-standard;
}
nav {
    li {
      float: left;
      margin-left: 50px;
    }
   a{
      font-size: 19px;
      line-height: 50px;
      text-decoration: none;
      color: #fff !important;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
}

.main-content{
  margin-top: 50px;
  min-height: 100%;
  margin-bottom: -140px;
  &:after {
  content: "";
  display: block;
  height: 140px;
  }
}

footer {
  min-height: 120px;
  background: $green;
  font-size: 14px;
  text-align: center;
  color: #fff;
  ul {
    max-width: 960px;
    margin: 0 auto;
    
    }
  li {
    display: inline-block;
    vertical-align: top;
    margin: 20px 60px;
    a {
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 65%;
      color: #fff;
      font-size: 1.4em;
      height: 60px;
      width: 60px;
      display: block;
      text-align: left;
      background-color: darken($green, 5);
      @include border-radius(50%);
      &:hover{
        text-decoration: none;
        span{display:block;}
       
      }

      .weixin-popup{
        top: -80px;
        padding: 5px;
      }
    } 
  
    span{
      position: absolute;
      display: none;
      top: 50px;
      left: -50px;
      width: 160px;
      padding: 5px 10px;
      text-align: center;
      font-size: 14px;
      background-color: darken($green,5);

    }

  }
  .copyright{
      padding: 20px 0;
      background-color: darken($green, 10);
      a{color: #fff;}
    }
  #weixin{
    background-image: url("/img/thumb/weixin.png");
  
  }
  #qq{
    background-image: url("/img/thumb/qq.png");
  }
  #weibo{
    background-image: url("/img/thumb/weibo.png");   
  }
  #mail{
    background-image: url("/img/thumb/mailbox.png");
  }
}

@media screen and (max-width: 767px){
  section{width: 100%;}
  .hidden-phone {
    display: none;
  }
  footer {
    li {
      margin: 20px 30px;
    }
  }
}

@media (max-width: 555px) {
  footer {
    #footer-ul {
      max-width: 360px !important;
    }
  }
}
.clear{
  overflow: hidden;
}
