// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table a {
  color: #333333;
}

.events a:hover {
  color: #333333;
}
.admin-events {
  a:hover {
      color: red;
  }
}

.title {
  float: left;
}

.btn-logout {
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-add {
  display: inline-block;
  line-height: 40px;
  margin: 10px 20px;
}
