* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html,body {position:relative;margin:0;padding:0;min-height:100%;width:100%;height:100%;}
div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td, figure {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
select, button, input, textarea{border:none;outline:none;padding:none;}
select, button{cursor:pointer;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none; margin: 0;}
li {list-style-type: none; margin: 0;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
a, a:hover, a:visited, a:active, a:link, .link {text-decoration:none;}
form {display: inline;}
textarea:focus, input:focus {outline: none;}
// html5 block elements for IE. Stop using IE.
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, address {display: block;}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}




