body {
  ul {
    list-style: none;
    margin: 0;
  }

}
header {
  background: #444;
  a {
    color: white;
    &:hover {
      color: #ffffff;
    }
  }
  nav {
    ul {
      li {
        float: left;
        margin-right: 50px;
        a {
          font-size: 19px;
          line-height: 44px;
          text-decoration: none;
        }
      }
    }
  }
}
footer {
  clear: both;
  height: 140px;
  background: #2FC7AF;
  ul {
    width: 800px;
    margin: 0 auto;
    li {
      float: left;
      padding: 40px 70px;
      a {
        width: 58px;
        height: 58px;
        display: block;
        font-size: 0;
        line-height: 0;
      }
    }
  }
  .weixin {
    background: image-url("weixin.png") no-repeat;
  }
  .weibo {
    background: image-url("weibo.png") no-repeat;
  }
  .qq {
    background: image-url("qq.png") no-repeat;
  }
  .mailbox {
    background: image-url("mail.png") no-repeat;
  }
}