body {
  ul {
    list-style: none;
    margin: 0;
  }
}
header {
  background: #444;
  nav {
    ul {
      li {
        float: left;
        margin: 5px 20px;
        a {
          text-decoration: none;
        }
      }
    }
  }
}