$green: #31BB99;
$light-green: lighten(#31BB99, 40);
$blue: #60bae8;
$red: #bd1903;
$pink: #faf2f2;

$gray: #d2d2d2;
$light-gray:#eee;

@mixin box-shadow-standard{
	box-shadow:0 1px 2px 0 rgba(0,0,0, .4);
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0, .4);
	-moz-box-shadow:0 1px 2px 0 rgba(0,0,0, .4);
	-o-box-shadow:0 1px 2px 0 rgba(0,0,0, .4);
}
@mixin border-radius($radius){
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
}
