section.part1 {
  text-align: center;
  padding: 40px 0;
  background: #31BB99;
  .slogn {
    font-size: 24px;
    span:first-child {
      margin-right: 40px;
    }
  }
  h1 {
    font-size: 5.5em;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 80px;
  }
}
section.part2{
  padding: 50px 0;
  background: #eee;
  text-align: center;
  h2 {
    font-size: 3em;
    font-weight: normal;
  }
  .who-we-are {
    line-height: 24px;
    font-weight: bold;
  }
}
section.part3 {
  background: #31BB99;
  #slides {
    display: none;
    position: relative;
    .slidesjs-previous, .slidesjs-next {
      position: absolute;
      top: 150px;
      z-index: 100;
    }
    .slidesjs-previous {
      left: 10px;
    }
    .slidesjs-next {
      right: 10px;
    }
  }
}
section.part4 {
  background: #eee;
  padding: 30px 0;
  h2 {
    font-size: 3em;
    font-weight: normal;
  }
  .event {
    width:500px;
    float:left;
    margin-left:20px;
    margin-right:28px;
  }
  div {
    margin-bottom:25px;
  }
  .jinshuju {
    background: #31BB99;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1.4em;
    color:#ffffff;
    &:hover {
      text-decoration: none;
    }
  }
  .event-time {
    margin-bottom:00px;
  }
  table {
    width:100%;
    margin-top:20px;
    margin-left:20px;
    td {
      pading:8px;
      line-height:40px;
      text-align:left;
      vertical-align:top;
      border-top:1px solid #dddddd;
    }
  }
}
section.part5 {
  background: #eee;
  h2 {
    background: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
    font-weight: normal;
  }
  ul {
    width: 80%;
    margin: 0 auto;
    li {
      padding: 20px;
      border-top: 1px solid #ccc;
      img {
        margin-right: 10px;
      }
    }
  }
}

