$green:#31BB99;
$light-gray:#eee;

.row{
  &:nth-child(odd){
    background-color: $green;
  }
  &:nth-child(even){
    background-color: $light-gray;
  }
}

section{
    padding: 50px 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    h1 {
      font-size: 5.5em;
      color: #ffffff;
      margin-bottom: 20px;
      line-height: 80px;
    }
    h2 {
    font-size: 3em;
    line-height: 1.5em;
    font-weight: normal;
    }
}

section#main-title{
  .slogan {
    font-size: 24px;
    span:first-child {
      margin-right: 40px;
    }
  }
  
}

section#summary{
  
  .who-we-are {
    line-height: 24px;
  }
}

section#carousel{
  padding: 0;
  #slides {
    display: none;
    position: relative;
    .slidesjs-previous, .slidesjs-next {
      position: absolute;
      top: 150px;
      z-index: 100;
    }
    .slidesjs-previous {
      left: 10px;
    }
    .slidesjs-next {
      right: 10px;
    }
  }
}

section#featured{
  padding: 30px 0;
  overflow: hidden;
  margin: 0 auto;

  .event {
    width:50%;
    float:left;
    margin-left:20px;
    margin-right:28px;
    text-align: left;
  }

  .jinshuju {
    background: #31BB99;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1.4em;
    color:#ffffff;
    &:hover {
      text-decoration: none;
    }
  }
  .event-time {
    margin-bottom:00px;
  }
  table {
    width:100%;
    margin-top:20px;
    margin-left:20px;
    td {
      padding:8px;
      line-height:40px;
      text-align:left;
      vertical-align:top;
      border-top:1px solid #dddddd;
    }
  }
}
section#stories{
  background-color: #eee;
  position: relative;
  padding: 0;
  width: 100%;
  h2 {
    background: #ffffff;
    padding: 10px;
  }
  ul {
    width: 80%;
    margin: 0 auto;
    li {
      padding: 20px;
      border-top: 1px solid #ccc;
      img {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  section{width: 100%;}
  .event{width: 90% !important;}
}