section.part1 {
  text-align: center;
  padding: 40px 0;
  background: #31BB99;
  .slogn {
    font-size: 24px;
    span:first-child {
      margin-right: 40px;
    }
  }
  h1 {
    font-size: 5.5em;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 80px;
  }
}
section.part2{
  padding: 50px 0;
  background: #eee;
  text-align: center;
  .who-we-are {
    line-height: 24px;
  }
}
section.part3 {
  background: #31BB99;
  #slides {
    display: none;
    position: relative;
    .slidesjs-previous, .slidesjs-next {
      position: absolute;
      top: 150px;
      z-index: 100;
    }
    .slidesjs-previous {
      left: 10px;
    }
    .slidesjs-next {
      right: 10px;
    }
  }

}

