.welcome{

.row, div{
  h1 {
    font-size: 4.8em;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 80px;
  }
  h2 {
    font-size: 2.8em;
    line-height: 1.5em;
    font-weight: normal;
  }
  .row-header{
    background: #ffffff;
    padding: 10px;
    text-align: center;
  }
}
section{text-align: center;}
section#main-title{
  padding: 32px 20px;
  .slogan {
    font-size: 24px;
    span:first-child {
      margin-right: 40px;
    }
    @media (max-width: 600px) {
      span, span:first-child{
        margin-right: 0px;
        display: block;
        line-height: 35px;
      }
    }
  }
  
}

section#summary{
  .who-we-are {
    line-height: 24px;
  }
}

#carousel{
  padding: 0;
  #slides {
    display: none;
    position: relative;
    .slidesjs-previous, .slidesjs-next {
      position: absolute;
      top: 200px;
      z-index: 50;
      background: rgba(255,255,255, .7);
      @include border-radius(50%);
      width: 80px;
      height: 80px;
      line-height: 80px;
      color: #444;
      font-size: 60px;
      font-weight: bold;
      font-family: "Comic Sans MS";
      text-align: center;
      &:hover {
        text-decoration: none;
      }

    }
    .slidesjs-previous {
      left: 10px;
    }
    .slidesjs-next {
      right: 10px;
    }
  }
}

section#featured{
  padding: 30px 0;
  margin: 0 auto;

  .event-wrapper{
    width: 55%;
    float: left;
    .button{float: left;}
  }
  .map{
    float: right;
    width: 40%;
    margin-bottom: 20px;
  }
  .event {
    display: inline-block;
    text-align: left;
  }

  .event-time {
    padding-top: 20px;
  }
  table {
    width:100%;
    td {
      padding:8px;
      line-height:40px;
      text-align:left;
      vertical-align:top;
      border-top:1px solid #dddddd;
    }
  }
}
section#stories{
  background-color: #eee;
  position: relative;
  padding: 0;
  width: 100%;

}

@media screen and (max-width: 768px){
  .event-wrapper, .map, ul{
    width: 90% !important;
  }
}
}