<!DOCTYPE html>
<html>
<head>
  <title>Ymzg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="clearfix">
  <div class="container">
    <div class="row">
      <div class="span12">
        <nav>
          <ul>
            <li><a href="">首页</a></li>
            <li><a href="">活动</a></li>
            <li><a href="">团队成长</a></li>
            <li><a href="">联系我们</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<%= yield %>

<footer>
  <ul>
    <li>
      <a href="tel:18200236539" class="weixin">微信</a>
    </li>
    <li>
      <a href="qq:77309632" class="qq">QQ</a>
    </li>
    <li>
      <a href="http://weibo.com/u/3539183451" class="weibo">微博</a>
    </li>
    <li>
      <a href="mailto:yueliang@thoughtworks.com" class="mailbox">邮箱</a>
    </li>
  </ul>
</footer>

</body>
</html>
